input[type='text']:disabled{
    color:red;
    background-color: #F5FEFD;

}

input[type='text']:read-only{
    color:red;
    background-color: #F5FEFD;

}
input[type='number']:read-only{
    color:red;
    background-color: #F5FEFD;

}

input[type='email']:read-only{
    color:red;
    background-color: #F5FEFD;

}

select:disabled{
    // color:green;
    background-color: #F5FEFD;
    font-weight: 600;
}
.rectangle-box {
    width: 100%;
    max-width: 800px;
    height: 200px;
    margin-bottom: 10px;
  }

  .square-box p{
    margin-left:6rem;
  }

  #note{
    cursor: pointer;
  }
  
  @media (min-width: 992px) {
    .container-fluid {
      flex-direction: row;
      justify-content: center;
    }
    .data-box {
      margin-right: 10px;
    }
  }