<section class="content-header">
    <div class="header-icon"><i class="fa fa-list-alt" aria-hidden="true"></i></div>
    <div class="header-title">
        <h1>Purchase Order View</h1>
    </div>
</section>

<section>
    <div class="container ">
        <div class="data-content">

            <div class="add-icon-section pl-2">
                <button class="btn-toggle-pdf " (click)="print()"><i class="fa fa-plus pr-1"></i>Print PO</button>
            </div>
            <div class="page-background ">
                <div class="data-form m-2 p-5 pdfTable" id="pdfTable" #pdfTable>

                    <!-- Report header css starts here -->

                    <div class="report-header">
                        <div class="container-fluid ">
                            <div class="row d-flex  rows1">
                                <div class="col-lg-4 col-md-3 col-sm-2 col-12">
                                    <div class="report-logo">
                                        <!-- <img src="assets/images/Login-image.png" class="img-fluid" width="120" height="60"> -->
                                        <img src="assets/images/apvlogo.PNG" class="img-fluid" width="120" height="100">
                                    </div>

                                </div>
                                <div class="col-lg-8 col-md-9 col-sm-10 col-12  ">
                                    <div class="report-heading">
                                        <h1>Purchase Order</h1>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Report header css starts here -->

                    <!-- Billing css starts here -->
                    <div class="billing-section mb-0">
                        <div class="container-fluid">
                            <div class="row d-flex billing-left billing-right">
                                <div class="col-lg-7 col-md-6">
                                    <!-- <div class="billing-left"> -->
                                    <h3>BILL TO :</h3>
                                    <p><strong class="text-danger apv">APV Technologies PVT. LTD.</strong><br>
                                        {{companydata.companyAddress |slice:0:20}}<br>
                                        {{companydata.companyAddress |slice:21:41}}<br>
                                        {{companydata.companyAddress |slice:34:56}}<br>
                                        0522-4008202<br>
                                        {{companydata.telephoneNumber}}<br>
                                        9453550700<br>
                                        <!-- 3/311 Vishal Khand<br>
                                            Gomti Nagar<br>
                                            Lucknow-226010<br>
                                            0522-4008202<br>
                                            9838078003<br>
                                            9453550700<br> -->
                                        GSTIN : 09AACCA8173F1ZM
                                    </p>
                                    <!-- </div> -->
                                </div>
                                <div class="spacer"></div>
                                <div class="col-lg-5 col-md-6">
                                    <!-- <div class="billing-right"> -->
                                    <div class="d-flex">
                                        <h3>Order Number :<span class="pl-2 billing-para">{{purchaseId}}</span></h3>

                                    </div>
                                    <div class="d-flex mb-1">
                                        <h3>Supplier :<span
                                                class="pl-2 billing-para">{{purchaseOrderDetail.supplier_name}}</span>
                                        </h3>

                                    </div>
                                    <div class="d-flex mb-1">
                                        <h3> Issue Date :<span
                                                class="pl-2 billing-para">{{purchaseOrderDetail.issue_date |
                                                date: 'yyyy-MM-dd'}}</span></h3>

                                    </div>
                                    <div class="d-flex mb-1">
                                        <h3> Expected Receipt Date :<span
                                                class="pl-2 billing-para">{{purchaseOrderDetail.expected_date
                                                |date: 'yyyy-MM-dd'}}</span>
                                        </h3>

                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Billing css ends here -->
                    <!-- Report Table Css starts here -->
                    <div class="container-fluid ">
                        <!-- <div class="row table-responsive overflow-y-auto overflow-x-auto " > -->
                        <div class="row">

                            <div class="col-lg-12 col-12 col-sm-12 ">
                                <div class=" table-responsive">
                                    <table class="table table-striped table-bordered table-hover text-dark  potable">
                                        <thead>
                                            <tr class="table-heading ">
                                                <th scope="col" style="width:5%;">S. NO</th>
                                                <th scope="col" style="width:15%;">Product </th>
                                                <th scope="col" style="width:15%;">Description </th>
                                                <th scope="col" style="width:10%;">Unit Price(₹) </th>
                                                <th scope="col" style="width:5%;">Quantity </th>
                                                <th scope="col" style="width:5%;">GST(%) </th>
                                                <th scope="col" style="width:5%;">GST Calculation</th>
                                                <th scope="col" style="width:5%;">Discount(₹) </th>
                                                <th scope="col" style="width:10%;">Total(₹) </th>

                                                <!-- <th scope="col" colspan="2" style="width:10%;">Product</th>
                                                     -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let items of purchaseJoinData; let i = index">
                                                <th scope="row">{{i+1}}</th>
                                                <td>{{items.product_name}}</td>
                                                <td>{{items.description}}</td>
                                                <td>{{items.unit_price}}</td>
                                                <td>{{items.quantity}}</td>
                                                <td>{{items.gst_in_percent *100}}</td>
                                                <td>{{items.gst_calculation  | number:'2.0-2'}}</td>
                                                <td>{{items.discount_in_rs}}</td>
                                                <td>{{items.total}}</td>
                                            </tr>

                                            <tr>
                                                <th colspan="7" scope="row"></th>
                                                <td class="table-active"><strong>Grand Total:</strong></td>
                                                <td class="table-active">
                                                    <strong>₹{{purchaseOrderDetail.totalindecimal| number:'2.0-2'}}</strong></td>

                                            </tr>
                                            <tr>
                                                <th colspan="7" scope="row"></th>
                                                <td class="table-active"><strong>Grand Total<br>
                                                        Round Off:</strong></td>
                                                <td class="table-active">
                                                    <strong>₹{{purchaseOrderDetail.roundOffTotalindecimal | number:'2.0'}}<br></strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="terms-section mt-0" id="div15">
                        <div class="container-fluid">
                            <div class="row termsandheading">
                                <div class="col-12 col-lg-12 col-md-12 c0l-sm-12 ">
                                    <h1 class="text-center term-heading">Terms & Conditions</h1>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-12 col-md-12 c0l-sm-12">
                                        <div class="heading-service  d-flex">
                                            <h4>Quality:<span class="service-para">The goods/services will be of high
                                                    quality and specifications as discussed and/or
                                                    described.</span></h4>

                                        </div>
                                        <div class="heading-service  d-flex">
                                            <h4>Product:<span class="service-para">The price includes taxes, insurance,
                                                    freight for delivery at (location) unless stated
                                                    otherwise specifically.</span></h4>

                                        </div>
                                        <div class="heading-service  d-flex">
                                            <h4>Delivery:<span class="service-para">The delivery will be by (date) at
                                                    the specified address.It will be the responsibility of the
                                                    supplier to supply the goods/services in safe and working condition
                                                    at the agreed location.
                                                </span></h4>
                                        </div>

                                        <div class="heading-service  d-flex">
                                            <h4>Inspection:<span class="service-para">Acceptance & rejection: The buyer
                                                    will inspect the goods/services delivered and the
                                                    due payment will be subject to approval by the buyer.
                                                </span></h4>
                                        </div>
                                        <div class="heading-service  d-flex">
                                            <h4>Warranties:<span class="service-para">The supplier will provide all
                                                    necessary warranties for the quality and service</span></h4>
                                        </div>
                                        <div class="heading-service d-flex">
                                            <h4>Indemnities :<span class="service-para"> Seller shall indemnify, defend
                                                    and hold harmless Buyer against any action,
                                                    liability, cost, or expense whatsoever arising by reason of: (i) the
                                                    breach of any applicable
                                                    provision of these Conditions; (ii) any infringement or alleged
                                                    infringement of the Intellectual
                                                    Property Rights of any person other than the Buyer relating to the
                                                    Work; (iii) injury to, or death of,
                                                    any persons caused or contributed to be the negligence or breach of
                                                    these Conditions or other
                                                    legal duty of Seller or, irrespective of the negligence or breach of
                                                    duty of Buyer, loss or damage
                                                    to any property; and (iv) all consequential or indirect losses
                                                    (whether foreseeable or not) incurred
                                                    by Seller, irrespective of the negligence or breach of duty of
                                                    Buyer. Seller shall maintain
                                                    insurance cover: (i)against the liabilities referred to above
                                                    otherwise required in relation to the
                                                    supply of the goods/services; and (ii) shall provide to Buyer on
                                                    demand valid certificates of
                                                    insurance in respect thereof.</span></h4>
                                        </div>
                                        <div class="heading-service  d-flex">
                                            <h4>Terms of Payment :<span class="service-para"> Unless otherwise stated in
                                                    the Order, payment shall be made within sixty
                                                    (60) days from the date of invoice provided that the Buyer receives
                                                    a correct and valid invoice
                                                    and provided that the work is correctly delivered or properly
                                                    performed and the Buyer accepted
                                                    the goods/services. If the goods/services are not correctly
                                                    delivered or performed or the Buyer
                                                    has not accepted the work, the invoice shall be paid after thirty
                                                    (30) days following the date when
                                                    the discrepancy is corrected to the Buyer’s satisfaction. Payment
                                                    invoices should be shown to
                                                    the authorized persons only and not to any individual person unless
                                                    it has been specified in the
                                                    contract.</span></h4>
                                        </div>
                                        <div class="heading-service   d-flex">
                                            <h4>Change Orders :<span class="service-para"> Seller shall perform any
                                                    changes to the Work required by Buyer which may
                                                    include additions to, or reductions in, the quantity and quality of
                                                    Work. Buyer shall give notice of
                                                    such changes to Seller in writing who shall promptly advise Buyer in
                                                    writing of their reasonable
                                                    effect on Price and delivery date. No change shall be accepted by
                                                    Buyer unless authorized by
                                                    written instruction and confirmed by Change Order. In the event that
                                                    the parties are unable to
                                                    agree on the reasonable effect on Price and delivery date, Buyer
                                                    shall nevertheless have the
                                                    right to require Seller to proceed with the change forthwith. No
                                                    variation in the Price nor extra
                                                    charges can be made (whether on account of increased material, labor
                                                    or transport cost, or
                                                    fluctuation in rates of exchange or otherwise) without the former
                                                    written consent of the buyer.</span></h4>
                                        </div>

                                        <div class="heading-service  d-flex">
                                            <h4>Force Majeure :<span class="service-para"> The Buyer reserves the right
                                                    to defer the date of delivery or payment or to
                                                    cancel the Order or reduce the volume of the Work ordered if it is
                                                    prevented from or delayed in
                                                    the carrying on of its business through any circumstances beyond its
                                                    reasonable control. Without
                                                    prejudice to the generality of this condition the following shall be
                                                    included without limitation as
                                                    causes beyond the Buyer’s reasonable control: (i)governmental
                                                    actions, war or threat of war,
                                                    national emergency, riot, civil disturbance, sabotage; (ii)act of
                                                    God, fire, explosion, flood,
                                                    epidemic or accident; (iii) import or export regulations or
                                                    embargoes.</span></h4>
                                        </div>

                                        <div class="heading-service  d-flex">
                                            <h4>Governing Law and Jurisdiction :<span class="service-para"> The Order
                                                    and Conditions herein shall be construed and
                                                    interpreted in accordance with the laws of India only, without
                                                    regard to any conflicts-of-laws rules
                                                    or principles that might refer the governance or construction to any
                                                    other jurisdiction. Any dispute
                                                    arising in relation to these Conditions shall be referred to Lucknow
                                                    Courts.</span></h4>
                                        </div>

                                        <div class="heading-service d-flex">
                                            <h4>Notices:<span class="service-para"> Notices shall be validly given if
                                                    sent by facsimile, Telex or recorded delivery post to the
                                                    respective addresses of the parties stated in the Order or to any
                                                    address subsequently notified in
                                                    writing by one party to the other</span>
                                                <h1 class="pt-0 mt-1">Authorized Signatory</h1>
                                            </h4>

                                        </div>
                                        <div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- Report Terms & conditions ends here -->
                </div>
            </div>
        </div>
    </div>
    <!-- pdf.addImage(contentDataURL, 'PNG', 0, position, pdf.internal.pageSize.width, pdf.internal.pageSize.width); -->

</section>