
<section class="content-header">
    <div class="header-icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
    <div class="header-title">
        
       
        <h1>Upload Scan Document</h1>
        
    </div>
    
    
    <div class="add-icon-section" *ngIf="toggleListBtn">
        <button class="btn-toggle "  (click)="toggleActionAdd()"><i class="fa fa-plus pr-1"></i>Document's List</button> 
    </div>

    <div class="add-icon-section" *ngIf="toggleAddbtn">
        <button class="btn-toggle "  (click)="toggleActionUpdate()"><i class="fa fa-plus pr-1"></i>Upload Document</button> 
    </div>


    </section>
    <div class="container-fluid">
       <div class="content">
        <div class="page-background">
            <div class="flex-box">
                <div class="col-md-12 col-sm-12 col-lg-7 "  *ngIf="display3">
                    <div class="data-form" [formGroup]="uploaddocumentForm">
                        <h1 class="text-center form-heading">Scan Document</h1>
    
                        <div class="form-group  m-2" >
                            <label for="inputEmail4" class="form-label"><sup>*</sup>Upload Pdf:</label>
                            <div>
                                <input type="file"  class=" btn form-control-file form-choosen-button " (change)="getDocname($event)"  name="pdf" accept = "application/pdf" formControlName='document_name'>
                                <div class="mandatory my-1 text-danger"
                                *ngIf="uploaddocumentForm.get('document_name').hasError('required') && uploaddocumentForm.get('document_name').touched ">
                               Document is Required.</div>  
                            </div>
                            <div class="progress-container my-3 w-75 mx-auto"  *ngIf="uploadProgress > 0 && uploadProgress < 100">
                                <div class="progress-bar" [style.width]="uploadProgress + '%'"></div>      
                              </div>
                              <h3 class="ml-3"  *ngIf="uploadProgress > 0 && uploadProgress < 100"><strong>{{uploadProgress + '%'}} document uploaded</strong></h3>
                        </div>
                        <div class="form-group m-2">
                            <label for="rating" class="form-label"> <sup>*</sup>Category</label>
                            <select class="form-control data-control p-2"  #category   formControlName='category_id' [(ngModel)]="uploadDocData.category_id" (change)="selectedCategory(category.value)">
        
                                <option class="select-border p-2" [selected]=true disabled hidden [value]=0>Select</option>

                                <option class="select-border p-2" *ngFor="let items of categoryData" [value]='items.category_id' >{{items.category_name}}</option>
                              
                            </select>
                            <div class="mandatory my-1 text-danger"
                            *ngIf="uploaddocumentForm.get('category_id').hasError('required') && uploaddocumentForm.get('category_id').touched">
                            Purchase is Required.</div>  
                            
                          </div>
    
                          <div class="form-group  m-2" >
                            <label for="inputEmail4" class="form-label"><sup>*</sup>File Name:</label>
                            <input type="text" class="form-control data-control p-2" placeholder="Enter File Name " formControlName='file_name' [(ngModel)]="fileName.file_name" readonly/>
                            
                        </div>
                       

                        <div class="form-group m-2">
                            <label for="inputEmail4" class="form-label"><sup>*</sup>Description:</label>
                            <textarea class="form-control p-2" placeholder="Description" id="floatingTextarea2"  rows="6" formControlName="description" [(ngModel)]="uploadDocData.description"></textarea>
                            <div class="mandatory my-1 text-danger"
                            *ngIf="uploaddocumentForm.get('description').hasError('required') && uploaddocumentForm.get('description').touched">
                            Some Description is Required.</div>  
                        </div>
                       
    
                    <div class="data-form-btn">
                        <div class="form-group text-center ">
                            <button type="submit" class="btn btn-data-login btn-block" (click)="uploadDocument()" *ngIf="display1">Add</button>
                        </div>
                    </div>

                    <div class="data-form-btn">
                        <div class="form-group text-center ">
                            <button type="submit" class="btn btn-data-login btn-block" (click)="uploadDocument()" *ngIf="display2">Update</button>
                        </div>
                    </div>
                </div>
                </div> 
            </div>

            <!-- <div class="data-control-box"> -->
              
                <div class="data-content"   *ngIf="display4">
                    <h1 class="text-center form-heading">Document's List</h1> 
                    <div class="container-fluid">
                        <div class="row">
                            <div class="input-group my-3  search-container">
    
                                <input type="text" class=" data-control form-control mr-2"
                                    placeholder="Enter Any Text...." aria-describedby="basic-addon2"
                                    [(ngModel)]="searchItem">
                                <button type="submit"><i class="fa fa-filter"></i></button>
                                <!-- <input type="text" class="form-control" placeholder="Enter Supplier Name"  aria-describedby="basic-addon2" [(ngModel)]="searchItem2" (ngModelChange)="EmptySearchItem()"> -->
    
                            </div>
                        </div>
                    </div>
                  
                    <div class="data-table overflow-auto" style="height: 90vh;">
                          <!-- Add the loading indicator element -->
                       

                        <table class="table table-striped table-bordered table-hover ">
                            <thead>
                                <tr>
                                    <th scope="col" style="width:5%;">S. NO</th>                    
                                   <th scope="col" style="width:30%;">Document Name</th>
                                    <th scope="col" style="width:15%;">Category Name</th>
                                    <th scope="col" style="width:15%;">Description</th>
                                    <th scope="col" style="width:5%;">Downloads</th>
                                    <th scope="col" style="width:5%;">View</th>
                                    <th scope="col" style="width:5%;">Update</th>
                                    <th scope="col" style="width:10%;">Created By</th>
                                    <th scope="col" style="width:10%;">Created Date</th>
                                    

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let items of getDocData| filter:searchItem; let i = index">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{items.document_name}}</td>
                                    <td>{{items.category_name}}</td>
                                    <td>{{items.description}}</td>
                                    <td> <button class="p-0 m-0 border-0 fa fa-download table-edit-icon" style="outline:none" (click)="downloadPDF(items.document_name)"></button></td>

                                    <td> <a target="_blank" href='http://192.168.0.132:3009/files/{{items.document_name}}'><i class="fa fa-search table-edit-icon " aria-hidden="true"></i></a></td>
                                    <td> <i class="fa fa-edit table-edit-icon " aria-hidden="true" (click)="updateDocument(items.document_id)"></i></td>
                                    <td>{{items.user_name}}</td>
                                    
                                    <td>{{items.created_date | date: 'yyyy-MM-dd'}}</td>
                            
                                    
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            <!-- </div> -->
        </div>
       </div>
    </div>    


