
input[type='text']:read-only {
 color:red;
    // background-color: 	#FBFCFB;
    background-color: #F5FEFD;
}

/* Apply the "click" effect */
button:active {
    transform: scale(0.95);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }



